In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("C:/Users/Vishali/OneDrive/Documents/diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

Replacing NaN values

In [3]:
df['Glucose']=df['Glucose'].replace(0,df['Glucose'].mean())

In [4]:
df['BloodPressure']=df['BloodPressure'].replace(0,df['BloodPressure'].mean())

In [5]:
df['SkinThickness']=df['SkinThickness'].replace(0,df['SkinThickness'].median())

In [6]:
df['Insulin']=df['Insulin'].replace(0,df['Insulin'].median())

In [7]:
df['BMI']=df['BMI'].replace(0,df['BMI'].median())

Droping the unwanted columns

In [8]:
data_sf = df.drop(['DiabetesPedigreeFunction','SkinThickness'], axis = 1)
data_sf.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'Insulin', 'BMI', 'Age',
       'Outcome'],
      dtype='object')

Managing the outliers

In [9]:
from sklearn.preprocessing import QuantileTransformer

x=data_sf

quantile  = QuantileTransformer()
X = quantile.fit_transform(x)

dff=quantile.transform(X)
dff=pd.DataFrame(X)
dff.columns =['Pregnancies', 'BloodPressure' , 'Glucose', 'Insulin', 'BMI', 'Age', 'Outcome']

C:\Users\User\anaconda3\Lib\site-packages\sklearn\preprocessing\_data.py:2667: UserWarning: n_quantiles (1000) is greater than the total number of samples (768). n_quantiles is set to n_samples.
  warnings.warn(
C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but QuantileTransformer was fitted with feature names
  warnings.warn(

### Taking 50% of Data from the dataset

#### 1st Time

In [10]:
df1 = dff.sample(frac=.50)  #(frac =.50) means 50% of the data
df1.shape

(384, 7)

In [11]:
df1

,Pregnancies,BloodPressure,Glucose,Insulin,BMI,Age,Outcome
432,0.232725,0.050196,0.579531,0.566493,0.375489,0.128422,0.0
175,0.863755,0.937419,0.516949,0.758801,0.533246,0.659713,1.0
568,0.596480,0.837679,0.516949,0.747066,0.452412,0.681877,0.0
139,0.677966,0.327901,0.516949,0.959583,0.766623,0.455020,0.0
330,0.863755,0.506519,0.516949,0.256193,0.069752,0.855280,0.0
...,...,...,...,...,...,...,...
716,0.503259,0.919817,0.704694,0.866362,0.606258,0.558670,1.0
630,0.809648,0.458931,0.233377,0.256193,0.241199,0.626467,1.0
53,0.863755,0.930248,0.936767,0.951760,0.599739,0.950456,1.0
137,0.000000,0.170795,0.135593,0.656454,0.309648,0.128422,0.0
342,0.232725,0.543025,0.338983,0.256193,0.487614,0.128422,0.0

In [12]:
X = df1.drop(['Outcome'],axis = 1)
y = df1['Outcome']

In [13]:
X.head()

     Pregnancies  BloodPressure   Glucose   Insulin       BMI       Age
432     0.232725       0.050196  0.579531  0.566493  0.375489  0.128422
175     0.863755       0.937419  0.516949  0.758801  0.533246  0.659713
568     0.596480       0.837679  0.516949  0.747066  0.452412  0.681877
139     0.677966       0.327901  0.516949  0.959583  0.766623  0.455020
330     0.863755       0.506519  0.516949  0.256193  0.069752  0.855280

In [14]:
y.head()

432    0.0
175    1.0
568    0.0
139    0.0
330    0.0
Name: Outcome, dtype: float64

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

Using Decision Tree Classification

In [30]:
from sklearn.tree import DecisionTreeClassifier
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)

y_pred = decision_tree.predict(X_test)

from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy 3 : ",accuracy)

Accuracy 3 :  0.6410256410256411

#### 2nd Time

In [17]:
df2 = dff.sample(frac=.50)
df2.shape

(384, 7)

In [18]:
df2

,Pregnancies,BloodPressure,Glucose,Insulin,BMI,Age,Outcome
688,0.232725,0.747066,0.579531,0.853977,0.101695,0.200130,0.0
692,0.387223,0.549544,0.451108,0.668188,0.844198,0.200130,0.0
385,0.232725,0.517601,0.058670,0.537158,0.050847,0.254889,0.0
1,0.232725,0.091265,0.290091,0.256193,0.213168,0.558670,0.0
316,0.503259,0.238592,0.760104,0.575619,0.006519,0.529335,0.0
...,...,...,...,...,...,...,...
455,0.996741,0.927640,0.183181,0.256193,0.591265,0.705346,1.0
299,0.863755,0.436767,0.516949,0.256193,0.086050,0.950456,0.0
88,0.998696,0.711213,0.451108,0.707301,0.770535,0.808344,1.0
573,0.387223,0.225554,0.135593,0.732073,0.664276,0.128422,0.0
611,0.503259,0.925033,0.098435,0.881356,0.552803,0.659713,1.0

In [20]:
X2 = df2.drop(['Outcome'],axis = 1)
y2 = df2['Outcome']

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X2, y2, test_size=0.2, random_state=42)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

Using Decision Tree Classification

In [29]:
from sklearn.tree import DecisionTreeClassifier
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)

y_pred = decision_tree.predict(X_test)

from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy 2 : ",accuracy)

Accuracy 2 :  0.6666666666666666

#### 3rd Time

In [23]:
df3 = df1.sample(frac=.50)
df3.shape

(192, 7)

In [24]:
df3

,Pregnancies,BloodPressure,Glucose,Insulin,BMI,Age,Outcome
425,0.596480,0.960887,0.704694,0.940026,0.769231,0.558670,1.0
137,0.000000,0.170795,0.135593,0.656454,0.309648,0.128422,0.0
473,0.809648,0.711213,0.936767,0.256193,0.367666,0.889831,0.0
610,0.503259,0.346806,0.058670,0.814211,0.428944,0.254889,0.0
585,0.232725,0.170795,0.076271,0.256193,0.056063,0.128422,0.0
...,...,...,...,...,...,...,...
134,0.387223,0.206649,0.338983,0.532595,0.029335,0.368970,0.0
316,0.503259,0.238592,0.760104,0.575619,0.006519,0.529335,0.0
749,0.747718,0.876793,0.183181,0.256193,0.112777,0.889831,1.0
59,0.000000,0.327901,0.233377,0.787484,0.900261,0.128422,0.0
369,0.232725,0.689700,0.984355,0.781617,0.541069,0.837027,1.0

In [25]:
X3 = df3.drop(['Outcome'],axis = 1)
y3 = df3['Outcome']

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X3, y3, test_size=0.2, random_state=42)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

Using Decision Tree Classification

In [31]:
from sklearn.tree import DecisionTreeClassifier
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)

y_pred = decision_tree.predict(X_test)

from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy 3 : ",accuracy)

Accuracy 3 :  0.6666666666666666